{% extends "main.html" %}
{% block title %} Password Reset {% endblock %}
{% block preheader %} Password Reset {% endblock %}
{% block main %}
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Hi there,</p>
                        <p>We have received your request to reset your password for your Book A Meal account. Please click the button below to reset your password.</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td> <a href="{{ message.link }}" target="_blank">Reset Password</a> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>If you did not request for the password reset, please ignore this email.</p>
                        <p>With Love from Book A Meal!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
